@charset "UTF-8";
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 8, ../scss/sp-style.scss */
body {
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
  font-size: 10px;
  line-height: 20px;
  color: #333;
}

/* line 19, ../scss/sp-style.scss */
h1 {
  font-size: 14px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 5px 0;
}

/* line 27, ../scss/sp-style.scss */
.title {
  text-align: center;
  font-size: 13px;
  padding: 5px 0;
}

/* line 33, ../scss/sp-style.scss */
header {
  background-color: #ffeb3f;
  height: 40px;
}
/* line 34, ../scss/sp-style.scss */
header img {
  padding: 5px 5px;
  width: 100px;
}
/* line 41, ../scss/sp-style.scss */
header h1 {
  text-indent: -9999px;
  display: none;
}

/* line 47, ../scss/sp-style.scss */
#item1 {
  margin: 5px;
  height: 264px;
  position: relative;
}
/* line 51, ../scss/sp-style.scss */
#item1 .slide {
  position: absolute;
  width: 100%;
  height: 264px;
  opacity: 0;
  -webkit-transition: all 0.8s ease-in;
  -webkit-transition-delay: 0;
  -moz-transition: all 0.8s ease-in 0;
  -o-transition: all 0.8s ease-in 0;
  transition: all 0.8s ease-in 0;
}
/* line 58, ../scss/sp-style.scss */
#item1 #slide0 {
  background: url(../sp-images/1-0.jpg) no-repeat;
  background-size: cover;
}
/* line 62, ../scss/sp-style.scss */
#item1 #slide1 {
  background: url(../sp-images/1-1.jpg) no-repeat;
  background-size: cover;
}
/* line 66, ../scss/sp-style.scss */
#item1 #slide2 {
  background: url(../sp-images/1-2.jpg) no-repeat;
  background-size: cover;
}
/* line 70, ../scss/sp-style.scss */
#item1 #slide3 {
  background: url(../sp-images/1-3.jpg) no-repeat;
  background-size: cover;
}
/* line 74, ../scss/sp-style.scss */
#item1 #slide4 {
  background: url(../sp-images/1-4.jpg) no-repeat;
  background-size: cover;
}
/* line 78, ../scss/sp-style.scss */
#item1 #slide5 {
  background: url(../sp-images/1-5.jpg) no-repeat;
  background-size: cover;
}
/* line 82, ../scss/sp-style.scss */
#item1 #slide6 {
  background: url(../sp-images/1-6.jpg) no-repeat;
  background-size: cover;
}

/* line 90, ../scss/sp-style.scss */
#item2 h1 {
  background-color: #ffeb3f;
  margin: 0 5px 5px 5px;
}
/* line 95, ../scss/sp-style.scss */
#item2 p {
  padding: 5px 5px;
}
/* line 99, ../scss/sp-style.scss */
#item2 .outerBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: box;
}
/* line 102, ../scss/sp-style.scss */
#item2 .descBox {
  width: 50%;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -ms-box-flex: 1;
  box-flex: 1;
}
/* line 106, ../scss/sp-style.scss */
#item2 .desc {
  overflow: hidden;
  background-color: #ffeb3f;
}
/* line 110, ../scss/sp-style.scss */
#item2 .desc1 {
  margin-left: 5px;
  margin-right: 2.5px;
}
/* line 111, ../scss/sp-style.scss */
#item2 .desc2 {
  margin-right: 5px;
  margin-left: 2.5px;
}

/* line 116, ../scss/sp-style.scss */
#item3 {
  width: 100%;
  overflow: hidden;
  padding: 10px 0;
}
/* line 121, ../scss/sp-style.scss */
#item3 .group {
  padding-top: 10px;
  float: left;
  width: 33.3%;
  text-align: center;
}
/* line 126, ../scss/sp-style.scss */
#item3 .group img {
  width: 80px;
  height: 80px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 131, ../scss/sp-style.scss */
#item3 .group p {
  font-size: 10px;
}

/* line 137, ../scss/sp-style.scss */
#item4:before {
  overflow: hidden;
  *zoom: 1;
}

/* line 142, ../scss/sp-style.scss */
#item4 {
  background-color: #ffeb3f;
  height: 180px;
  padding-bottom: 20px;
}
/* line 147, ../scss/sp-style.scss */
#item4 .group {
  padding-top: 10px;
  float: left;
  width: 33.3%;
  text-align: center;
}
/* line 152, ../scss/sp-style.scss */
#item4 .group img {
  height: 100px;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}
/* line 156, ../scss/sp-style.scss */
#item4 .group p {
  font-size: 10px;
}

/* line 162, ../scss/sp-style.scss */
#item5:before {
  overflow: hidden;
  *zoom: 1;
}

/* line 167, ../scss/sp-style.scss */
#item5 table {
  padding: 10px;
  margin: 0 auto;
}
/* line 172, ../scss/sp-style.scss */
#item5 a {
  display: block;
  text-align: center;
}

/* line 178, ../scss/sp-style.scss */
#item6 {
  background-color: #ffeb3f;
  padding-bottom: 35px;
  position: relative;
}
/* line 183, ../scss/sp-style.scss */
#item6 ul {
  text-align: right;
  margin-right: 10px;
}
/* line 188, ../scss/sp-style.scss */
#item6 .ourImage {
  position: absolute;
  bottom: 0;
  width: 200px;
  height: 70px;
  background: url(../sp-images/bg6-1.png) no-repeat;
  background-size: contain;
}
/* line 197, ../scss/sp-style.scss */
#item6 .kakureyard {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 70px;
  height: 30px;
  background: url(../sp-images/bg6-2.png) no-repeat;
  background-size: contain;
}

/* line 210, ../scss/sp-style.scss */
.order {
  display: block;
  margin: 10px auto;
  color: #333;
  background-color: #ffeb3f;
  padding: 10px;
  text-decoration: none;
  width: 100px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 1px #999999;
  -moz-box-shadow: 0 1px 1px #999999;
  box-shadow: 0 1px 1px #999999;
}

/* line 222, ../scss/sp-style.scss */
#purchase {
  text-align: center;
}
/* line 224, ../scss/sp-style.scss */
#purchase div:nth-of-type(4) {
  padding-bottom: 20px;
}

/* line 228, ../scss/sp-style.scss */
.group {
  padding: 5px 0;
}
